<%-  include('./header.ejs') %>


<div class="container">
    <div class="row box-form">
        <div class="col-md-7" style="background-color: rgb(238, 225, 225);">
            <img src="/images/loginimage.jpg" class="loginimage">
        </div>
        <div class="col-md-5 right">
            <form action="/userregistration" method="post" enctype="multipart/form-data">
                <% if(message.length > 0){ %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                <% } %>
                <h5 style="padding-top: 1cm;">Registration</h5>
                <br><br>
                <div class="inputs">
                    <input type="text" name="name" placeholder="Name">
                    <br>
                    <input type="email" name="email" placeholder="Email">
                    <br>
                    <input type="password" name="password" placeholder="password">
                    <br>
                    <input type="password" name="confirmpassword" placeholder="Confirm Password">
                    <br>
                    <input type="file" name="image" class="form-control" style="padding-bottom:37px;">
                </div>			
                <br>
                <button>Register</button>
            </form>
        </div>
    </div>
</div>