<%- include('./header.ejs') %>

<div class="container">
    <div class="row box-form">
        <div class="col-md-7" style="background-color: rgb(238, 225, 225);">
            <img src="/images/loginimage.jpg" class="loginimage">
        </div>
        <div class="col-md-5 right">
            <form action="/updateuserpassword" method="post">
                <% if(message.length > 0){ %>
                    <div class="alert alert-success">
                        <%= message %>
                    </div>
                <% } %>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger">
                        <%= error %>
                    </div>
                <% } %>
                <h3 style="padding-top: 1cm;">Update Password</h3>
                <br><br>
                <div class="inputs">
                    <input type="password" name="oldpassword" placeholder="Old Password">
                    <br>
                    <input type="password" name="newpassword" placeholder="New Password">
                    <br>
                    <input type="password" name="confirmpassword" placeholder="Confirm Password">
                </div>	
                <br>	
                <button>Submit</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>